root = true

# --------------------------------------------------
# Universal settings
# --------------------------------------------------
[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[Makefile]
indent_style = tab

[{node_modules/**,dist/**,build/**,coverage/**}]
indent_style = unset
indent_size = unset
trim_trailing_whitespace = false
